@font-face {
  font-family: 'Gilroy-Regular';
  src: url('@/assets/fonts/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('@/assets/fonts/Gilroy-Bold.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Regular';
  font-size: 20px;
  color: white;
}

body {
  min-width: 480px;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 200%;
  height: 100%;
  transition: 500ms;
  margin-left: 0;
}

.slide {
  height: 100%;
  width: 50%;
}

.moved {
  margin-left: -100%;
}

.fade-transition {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transition: 500ms ease-out;
  pointer-events: none;
}

.fade-transition.active {
  pointer-events: all;
  opacity: 1;
}

