@font-face {
  font-family: 'Gilroy-Regular';
  src: url('@/assets/fonts/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('@/assets/fonts/Gilroy-Bold.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Regular';
  font-size: 20px;
  color: white;
}

body {
  min-width: 480px;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

.transition-1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: black;
  pointer-events: none;
  opacity: 0;
  transition: 500ms ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

