.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.score {
  color: #ffbca2;
}

.image {
  position: relative;
  width: 230px;
  height: 230px;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 20px;
}

.image:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0, 255, 0, .4);
}

.rectangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  padding: 0px 10%;
  display: flex;
  align-items: center;
  gap: 10%;
  background-color: #ffbca2;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('@/assets/img/reset.png');
}

.text{
  color: black;
}

@media screen and (max-width: 768px) {
  .image {
    width: 200px;
    height: 200px;
  }

  .header {
    font-size: 18px;
  }

  .score {
    font-size: 18px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .text{
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {
  .image {
    width: 160px;
    height: 160px;
  }

  .header {
    font-size: 14px;
  }

  .score {
    font-size: 14px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .text{
    font-size: 14px;
  }
}
