.category {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}

.category .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category .score {
  color: #ffbca2;
}

.category .image {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  background-position: center center;
  background-size: 230px 230px;
}

.category .image:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0, 255, 0, .4);
}
