.questions-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  padding: 0 70px;
}

.questions-progress {
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  width: 660px;
  height: 5px;
  background-color: white;
  border-radius: 20px;
  pointer-events: none;
}

.questions-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 5px;
  box-shadow: -500px 0 0 500px #ffbca2;
}

.questions-main {
  width: 100%;
  height: 70vh;
  min-height: 700px;
}

.questions-slider {
  display: flex;
  width: 200%;
  height: 100%;
  transition: 500ms;
  margin-left: 0;
}

.questions-slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%
}

.question {
  width: 660px;
  display: flex;
  flex-direction: column;
}

.question .text {
  font-size: 24px;
}

.question .image {
  width: 100%;
  height: 440px;
  background-position: center center;
  background-size: 100% 440px;
  border-radius: 20px;
  margin-top: 30px;
}

.answer-buttons-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.answer {
  height: 600px;
  width: 460px;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.answer .image {
  width: 100%;
  height: 340px;
  background-position: center center;
  background-size: 100% 340px;
  border-radius: 20px;
}

.indicator {
  position: relative;
  top: 260px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-size: 50px 50px;
  background-image: url('@/assets/svg/cross.svg');
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer .name {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.answer .author {
  font-size: 18px;
  font-style: italic;
  color: black;
}

.variant-button,
.next-button {
  width: 300px;
  height: 60px;
  background-color: #ffbca2;
  border-radius: 40px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
  color: black;
}

.variant-button:hover,
.next-button:hover {
  opacity: 0.7;
}

.variant-button {
  margin: auto;
}

.moved {
  margin-left: -100%;
}