.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.image {
  align-self: center;
  width: 100px;
  height: 100px;
  margin: 10px 0;
}
