.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  padding: 0 70px;
}

.page-header {
  position: relative;
  top: 20px;
  font-size: 26px;
  font-family: 'Gilroy-Bold';
  margin-left: 100px;
  color: #ffbca2;
}

.navigation {
  display: flex;
  align-items: flex-start;
}

.main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  height: 70vh;
  min-height: 700px;
  padding: 0 70px;
}