.categories-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 20vh;
  min-height: 180px;
  padding: 56px;
}

.aligning-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page-header {
  position: relative;
  top: 20px;
  font-size: 26px;
  font-family: 'Gilroy-Bold';
  margin-left: 100px;
  color: #ffbca2;
}

.navigation {
  display: flex;
  align-items: flex-start;
}


.categories-main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 60vh;
  min-height: 440px;
  padding: 0 56px;
}