.oval-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  border-radius: 100px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.oval-button:hover {
  opacity: 0.8;
}

.oval-button:active {
  background-color: rgba(31, 112, 127, 0.5);
}