.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
  background-color: #121c1e;
}

.tree {
  height: 60px;
  width: 70px;
  cursor: pointer;
  transition: 0.3s fill;
}

.tree:hover {
  fill: #278d9f;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  margin: 0 20px 0 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 2;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s color;
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  color: #278d9f;
}

.main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 180px);
  background-size: 100% 100%;
  background-position: center center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
  padding: 10px;
  background-color: #121c1e;
}

.rss {
  height: 60px;
  width: 70px;
}