.authors-question {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
}

.picture {
  width: 500px;
  height: 320px;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 20px;
}

.question {
  font-size: 24px;
  font-family: 'Gilroy-Bold';
}

.answer-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}