.trees {
  display: flex;
  min-height: calc(100vh - 180px);
}

.settings-header {
  margin-top: 20px;
  font-size: 24px;
  text-transform: uppercase;
  pointer-events: none;
}

.settings-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
  max-width: 420px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.background {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1.4;
  flex-grow: 1;
  flex-basis: 0;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
}

.tree {
  position: relative;
}
