.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  padding-left: 70px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 70vh;
  padding-left: 70px;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.settings-header {
  font-family: 'Gilroy-Bold';
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 520px) {
  .header {
    padding-left: 30px;
  }

  .main {
    padding-left: 30px;
  }
}
