.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 0 28px 28px;
}

.school-logo {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-image: url('@/assets/svg/school-logo.svg');
  margin-bottom: -28px;
}
