.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 15vh;
  /* min-height: 100px; */
  padding: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  background-image: url('@/assets/svg/school-logo.svg');
  margin-bottom: -20px;
}
