.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 480px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}

.goblet {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  background-position: center center;
}

.message {
  font-family: 'Gilroy-Bold';
  font-size: 36px;
  color: black;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 24px;
  color: black;
}

.score {
  font-family: 'Gilroy-Bold';
  font-size: 72px;
  color: black;
}

.buttons-container {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .result {
    width: 420px;
    gap: 30px;
    padding: 30px;
  }

  .goblet {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 520px) {
  .result {
    width: 340px;
    gap: 20px;
    padding: 20px;
  }

  .message {
    font-size: 30px;
  }

  .score {
    font-size: 64px;
  }

  .label {
    font-size: 20px;
  }

  .goblet {
    width: 160px;
    height: 160px;
  }
}
